{% extends 'base.html' %}

{% block 'content' %}

	<div id="introduction" class="container py-5">
		<div class="row">
			<div class="col-sm-5"></div>
			<div class="col-sm-7 text-dark">
				<p>Every year thousands of nonprofit organizations decline or disappear altogether. Many
stand by helplessly as they watch their services erode.</p>
				<p>Year after year school budgets are cut. Legislators leave it up to school districts to
finding new methods for teaching our children, as well as new approaches to find the
extra funding that is required.</p>
				<p>Why is it that some school districts and nonprofits seem to thrive and reach new levels
of achievement and influence, while many endlessly walk on the treadmill and never
arrive at their desired goals? What makes the difference?</p>
				<p>Quite candidly, we do! We are the Genesis 12 Marketing Group, or more commonly
known among our friends as the G12 Group. We are a collaborative of the most creative
minds in the fundraising industry. We tirelessly work together to support a common
goal, that of raising awareness and revenue for schools and nonprofit organizations.</p>
				<p>The G12 Group helps schools and nonprofit organizations nationwide in developing
successful fundraising campaigns. Our years in the industry and extensive research
provide the right insight and expertise into areas that are often overlooked. What
schools and nonprofit organizations need today are proven strategies that work in
today's complex environment. Simply said, the executives of the Genesis 12 Marketing
Group know the best practices and how to uniquely tailor them to your organization's
identity and mission.</p>
				<p>If your school or organization has a financial need, contact us to team up with the
Genesis 12 Marketing group. Allow one of our Customer Success Representatives to
customize a fundraising campaign that will elevate your school or organization to new
heights.</p>
			</div>
		</div>
	</div>

	<div id="president" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-9 text-lg-left text-center">
					<h3 class="mb-0 mt-5">Richard D. Raymond</h3>
					<h4 class="mb-0">PRESIDENT</h4>
					<p>Genesis 12 Marketing Group</p>
					<p class="text-primary mb-0">27 Year Attorney</p>
					<p class="text-primary">27 Year CPA</p>
					<p><b>Licensed:</b> Texas Courts of Law, United States Southern District of Texas,
	United States Court of Appeals (Fifth Circuit), and United States Tax Courts</p>
					<p class="mt-5"><b>Education:</b> University of Houston Law Center, Houston, Texas. </p>
					<p>Baylor University, Waco, Texas.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}