{% extends 'base.html' %}

{% block 'content' %}

	<div id="charities" class="container py-5">
		<div class="row text-dark text-center">
			<h2 class="col-sm-12 display-4 font-weight-bold mb-4">CHARITIES</h2>
		
			<p class="col-sm-12 h5 mb-4">The Genesis 12 Marketing Group is a platform for human goodness. We started our organization with a
	simple idea: give people the power and resources to bring their ideas to life. Over the years we have seen
	how good ideas can change and reshape the world. As you click on the links below, I hope that you will see
	why we are so passionate about what we do.
			</p>
			<p class="col-sm-12 h5 mb-4">More than a company that produces amazing apps, we see ourselves as visionaries, a collective group of
	people that see far beyond what is and deep into the possibilities of what could be. It is through the
	generosity of our app users that we are ao proudly able to give.
			</p>
			<p class="col-sm-12 h5 mb-4">We have developed a national community of like-minded people that want to ensure that resources are
	available when needed. It is through your purchase that programs of excellence continue to be supported.
	We are deeply humbled by your shared compassion. Thank you!
			</p>
			<p class="col-sm-12 h5 mb-4">We enjoy hearing from you. Is there a charity that you would like to see us support? Please contact us.
			</p>
			<p class="col-sm-12 h5 mb-4">Charities that we support:
			</p>
		</div>

	</div>

{% endblock %}