{% extends 'base.html' %}

{% block 'content' %}

	<div id="e-fundraising" class="container-fluid bg-dark-blue text-white py-5">
		<div class="container">
			<div class="row text-center">
				<h2 class="col-sm-12 h1 text-warning mb-4">E-FUNDRAISING</h2>
				<p class="col-sm-12 font-weight-bold mt-0">If you have been involved or around fundraising with schools or nonprofit organizations for any length of
time, then you are probably familiar with coupon books or discount cards. Even though millions have been
sold throughout the years, we continue to hear the same complaints: the coupon is in the other car or
purse, or, the coupon isn't good in my area. While the product was great, it just wasn't very user-friendly.
Thank goodness for technology!</p>
			   <div class="col-sm-12">
			   		<div class="col-lg-4 text-center text-lg-right">
			   			<h3 class="col-sm-12 h3 text-warning mt-5 mb-3">Introducing MyEats&copy,</h3>
			   			<p class="col-sm-12 font-weight-bold mt-0">A digital coupon book for your smartphone. Because nobody leaves home without their phone, you will always have an abundance of savings choices right in the palm of your hand.
			   			</p>
			   		</div>
			   		<div class="col-lg-4"></div>
			   		<div class="col-lg-4"></div>
			   </div>
			</div>
			
		</div>
	</div>

	<div id="guidelines" class="container py-5">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<h2 class="text-dark-blue mb-4">Guidelines for the MyEats® app:</h2>
				<ul class="list-group text-dark">
					    <li><h4>Expires one year from purchase</h4></li>
					    <li><h4>Cannot be used with other discounts or offers</h4></li>
					    <li><h4>Misuse of the app could result in denial of service</h4></li>
					    <li><h4>Each coupon can only be used once per day</h4></li>
					    <li><h4>Valid only at participating restaurants</h4></li>
					    <li><h4>Restaurants reserve the right to change their offers throughout the year.</h4></li>
					    <li><h4>We do not sell our membership lists to outside vendors. </h4></li>
					    <li><h4>We do, however, send periodical updates of new offers.</h4></li>
					</ul>
			</div>
		</div>
	</div>

	<div id="myeats" class="container-fluid bg-dark-blue text-white py-5">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-8">
					<h2 class="text-warning mb-4">MyEats&copy,</h2>
					<p class="col-md-12 font-weight-bold mt-0">The MyEats® app has more than 20 of your favorite fast food
restaurant chains on it. Each of them is making generous "free"
offers to encourage consumers to support your school or nonprofit
group (click here to see participating restaurant chains and their
offers). Notice that we didn't say "discount". That is because every
restaurant chain is offering "free items" with your purchase. Many
of them even offer more than one coupon.</p>
					<div class="col-xs-12 col-md-10 btn btn-primary btn-lg btn-rounded-md">
						<div class="row">
						<h4 class="col-sm-12 h2">Help an organization today!</h4>
						<div class="col-lg-3"><h4 class="display-3 font-weight-bold">$20</h4></div>
						<div class="col-lg-9">
							<button class="col-sm-12 btn btn-warning btn-lg btn-rounded-md h-100">
								<h1 class="text-dark-blue font-weight-bold">Buy Now!</h1>
							</button>	
						</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4"></div>
				<p class="col-sm-12 font-weight-bold mt-5">What is better than using a coupon to get a free item at your favorite fast food restaurant? Using the
same coupon a second, third, or twenty-third time! With those old coupon books, once you used the
coupon it was gone. Not so with the MyEats® app. Your MyEats® app has an expiration date of one
year from the date of your purchase. You can use each coupon over and over again, once per day, for
an entire year. So not just a "free item" once, but every time you choose to eat at your favorite fast
food restaurant. That could add up to some serious savings.</p>
				<p class="col-sm-12 font-weight-bold">
					The MyEats® app, good across the nation, offers hundreds of dollars in savings for one full year. Plus,
by your purchase, you are supporting programs of excellence right here in America. Start enjoying
your MyEats® app today.
				</p>
			</div>
		</div>
	</div>

{% endblock %}