{% extends 'base.html' %}

{% block 'content' %}

	<div id="questions">
		<div class="container">
			<div class="row py-5">
				<div class="col-sm-12 mb-4 text-dark text-center">
					<h2 class="display-4">Ask Yourself these <b>Questions:</b></h3>
				</div>
				<div class="col-12 col-lg-5"></div>
				<div class="col-12 col-lg-7">
					<ul class="list-group text-dark">
					    <li><h4>Are you tired of fundraisers where you, the parent, do
	all the work?</h4></li>
					    <li><h4>Would you like a simplified process that doesn't require
	unsafe practices like door-to-door selling?</h4></li>
					    <li><h4>Would you like to eliminate the hassle of collecting
	money and delivering items?</h4></li>
					    <li><h4>Would you like a fundraising program that is 100%
	complete in one week?</h4></li>
					    <li><h4>Would you agree that family, friends, and parents are
	tired of buying items that have no purpose or value?</h4></li>
					    <li><h4>Do you agree that most family and friends would like to
	support a good cause?</h4></li>
					</ul>
				</div>
				<div class="col-sm-12 mb-4 text-center mt-5">
					<a href="#" class="col-xs-12 col-sm-10 col-lg-6 btn btn-primary btn-lg btn-rounded-md"><h4 class="display-4">If you said <b>Yes:</b><br>Click Here</h4></a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}