{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Genesis12</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="contact float-right">
				
				</div>	
			</div>
			
			<nav class="navbar navbar-expand-lg navbar-light justify-content-between">
			  <a class="navbar-brand" href="#">Navbar</a>
			  
			  <div class="d-flex flex-column align-items-end">
			  	<ul class="navbar-nav">
			  		<li>
			        <p class="text-primary" href="#">+1 (832) 477-6261</p>
			      </li>
			  	</ul>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  	</button>
			  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  	
			    <ul class="navbar-nav ml-auto">
			      <li class="nav-item active ml-3 mr-0">
			        <a class="nav-link text-primary" href="#">ABOUT US<span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item ml-3 mr-0">
			        <a class="nav-link text-primary" href="#">FUNDRAISING</a>
			      </li>
			      <li class="nav-item ml-3 mr-0">
			        <a class="nav-link text-primary" href="#">E-FUNDRAISING</a>
			      </li>
			      <li class="nav-item ml-3 mr-0">
			        <a class="nav-link text-primary" href="#">FAQ’s</a>
			      </li>
			      <li class="nav-item ml-3 mr-0">
			        <a class="nav-link text-primary" href="#">CHARITIES</a>
			      </li>
			      <li class="nav-item ml-3 mr-0">
			        <a class="nav-link text-primary" href="#">CONTACT US</a>
			      </li>
			    </ul>
			  </div>
			  </div>

			  
			</nav>
		</div>
	</header>
	<div id="banner" class="container-fluid">
		<div class="container text-center">
			<h1 class="banner-title text-white pt-5">We help schools and nonprofit organizations nationwide
in developing successful fundraising campaigns.</h1>
			<button class="btn btn-lg btn-primary btn-rounded-md mt-5 px-5">LEARN ABOUT OUR E-FUNDRAISING</button>
		</div>
		
	</div>

	<div id="introduction" class="container py-5">
		<div class="row">
			<div class="col-sm-5"></div>
			<div class="col-sm-7 text-dark">
				<p>Every year thousands of nonprofit organizations decline or disappear altogether. Many
stand by helplessly as they watch their services erode.</p>
				<p>Year after year school budgets are cut. Legislators leave it up to school districts to
finding new methods for teaching our children, as well as new approaches to find the
extra funding that is required.</p>
				<p>Why is it that some school districts and nonprofits seem to thrive and reach new levels
of achievement and influence, while many endlessly walk on the treadmill and never
arrive at their desired goals? What makes the difference?</p>
				<p>Quite candidly, we do! We are the Genesis 12 Marketing Group, or more commonly
known among our friends as the G12 Group. We are a collaborative of the most creative
minds in the fundraising industry. We tirelessly work together to support a common
goal, that of raising awareness and revenue for schools and nonprofit organizations.</p>
				<p>The G12 Group helps schools and nonprofit organizations nationwide in developing
successful fundraising campaigns. Our years in the industry and extensive research
provide the right insight and expertise into areas that are often overlooked. What
schools and nonprofit organizations need today are proven strategies that work in
today's complex environment. Simply said, the executives of the Genesis 12 Marketing
Group know the best practices and how to uniquely tailor them to your organization's
identity and mission.</p>
				<p>If your school or organization has a financial need, contact us to team up with the
Genesis 12 Marketing group. Allow one of our Customer Success Representatives to
customize a fundraising campaign that will elevate your school or organization to new
heights.</p>
			</div>
		</div>
	</div>

	<div id="president" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-3"></div>
				<div class="col-sm-9 col-md-7">
					<h3 class="mb-0 mt-5">Richard D. Raymond</h3>
					<h4 class="mb-0">PRESIDENT</h4>
					<p>Genesis 12 Marketing Group</p>
					<p class="text-primary mb-0">27 Year Attorney</p>
					<p class="text-primary">27 Year CPA</p>
					<p><b>Licensed:</b> Texas Courts of Law, United States Southern District of Texas,
	United States Court of Appeals (Fifth Circuit), and United States Tax Courts</p>
					<p class="mt-5"><b>Education:</b> University of Houston Law Center, Houston, Texas. </p>
					<p>Baylor University, Waco, Texas.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="questions">
		<div class="container">
			<div class="row py-5">
				<div class="col-sm-12 mb-4 text-dark text-center">
					<h2 class="display-4">Ask Yourself these <b>Questions:</b></h3>
				</div>
				<div class="col-sm-5"></div>
				<div class="col-xs-11 col-md-7">
					<ul class="list-group text-dark">
					    <li><h4>Are you tired of fundraisers where you, the parent, do
	all the work?</h4></li>
					    <li><h4>Would you like a simplified process that doesn't require
	unsafe practices like door-to-door selling?</h4></li>
					    <li><h4>Would you like to eliminate the hassle of collecting
	money and delivering items?</h4></li>
					    <li><h4>Would you like a fundraising program that is 100%
	complete in one week?</h4></li>
					    <li><h4>Would you agree that family, friends, and parents are
	tired of buying items that have no purpose or value?</h4></li>
					    <li><h4>Do you agree that most family and friends would like to
	support a good cause?</h4></li>
					</ul>
				</div>
				<div class="col-sm-12 mb-4 text-center mt-5">
					<button class="col-xs-12 col-sm-10 col-lg-6 btn btn-primary btn-lg btn-rounded-md"><h4 class="display-4">If you said <b>Yes:</b><br>Click Here</h4></button>
				</div>
			</div>
		</div>
	</div>

	<div id="e-fundraising" class="container-fluid bg-dark-blue text-white py-5">
		<div class="container">
			<div class="row text-center">
				<h2 class="col-sm-12 h1 text-warning mb-4">E-FUNDRAISING</h2>
				<p class="col-sm-12 font-weight-bold mt-0">If you have been involved or around fundraising with schools or nonprofit organizations for any length of
time, then you are probably familiar with coupon books or discount cards. Even though millions have been
sold throughout the years, we continue to hear the same complaints: the coupon is in the other car or
purse, or, the coupon isn't good in my area. While the product was great, it just wasn't very user-friendly.
Thank goodness for technology!</p>
			   <div class="col-sm-12">
			   		<div class="col-sm-4">
			   			<h3 class="col-sm-12 h3 text-warning mt-5 text-right mb-3">Introducing MyEats&copy,</h3>
			   			<p class="col-sm-12 font-weight-bold mt-0 text-right">a digital coupon book for your smartphone. Because nobody leaves home without their phone, you will always have an abundance of savings choices right in the palm of your hand.
			   			</p>
			   		</div>
			   		<div class="col-sm-4"></div>
			   		<div class="col-sm-4"></div>
			   </div>
			</div>
			
		</div>
	</div>

	<div id="guidelines" class="container py-5">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<h2 class="text-dark-blue mb-4">Guidelines for the MyEats® app:</h2>
				<ul class="list-group text-dark">
					    <li><h4>Expires one year from purchase</h4></li>
					    <li><h4>Cannot be used with other discounts or offers</h4></li>
					    <li><h4>Misuse of the app could result in denial of service</h4></li>
					    <li><h4>Each coupon can only be used once per day</h4></li>
					    <li><h4>Valid only at participating restaurants</h4></li>
					    <li><h4>Restaurants reserve the right to change their offers throughout the year.</h4></li>
					    <li><h4>We do not sell our membership lists to outside vendors. </h4></li>
					    <li><h4>We do, however, send periodical updates of new offers.</h4></li>
					</ul>
			</div>
		</div>
	</div>

	<div id="myeats" class="container-fluid bg-dark-blue text-white py-5">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-8">
					<h2 class="text-warning mb-4">MyEats&copy,</h2>
					<p class="col-sm-12 font-weight-bold mt-0">The MyEats® app has more than 20 of your favorite fast food
restaurant chains on it. Each of them is making generous "free"
offers to encourage consumers to support your school or nonprofit
group (click here to see participating restaurant chains and their
offers). Notice that we didn't say "discount". That is because every
restaurant chain is offering "free items" with your purchase. Many
of them even offer more than one coupon.</p>
					<div class="col-xs-12 col-sm-10 btn btn-primary btn-lg btn-rounded-md">
						<div class="row">
						<h4 class="col-sm-12 h2">Help an organization today!</h4>
						<div class="col-sm-3"><h4 class="display-3 font-weight-bold">$20</h4></div>
						<div class="col-sm-9">
							<button class="col-sm-12 btn btn-warning btn-lg btn-rounded-md h-100">
								<h1 class="text-dark-blue font-weight-bold">Buy Now!</h1>
							</button>	
						</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4"></div>
				<p class="col-sm-12 font-weight-bold mt-5">What is better than using a coupon to get a free item at your favorite fast food restaurant? Using the
same coupon a second, third, or twenty-third time! With those old coupon books, once you used the
coupon it was gone. Not so with the MyEats® app. Your MyEats® app has an expiration date of one
year from the date of your purchase. You can use each coupon over and over again, once per day, for
an entire year. So not just a "free item" once, but every time you choose to eat at your favorite fast
food restaurant. That could add up to some serious savings.</p>
				<p class="col-sm-12 font-weight-bold">
					The MyEats® app, good across the nation, offers hundreds of dollars in savings for one full year. Plus,
by your purchase, you are supporting programs of excellence right here in America. Start enjoying
your MyEats® app today.
				</p>
			</div>
		</div>
	</div>

	<div id="charities" class="container py-5">
		<div class="row text-dark text-center">
			<h2 class="col-sm-12 display-4 font-weight-bold mb-4">CHARITIES</h2>
		</div>
		<p class="col-sm-12 h5 mb-4">The Genesis 12 Marketing Group is a platform for human goodness. We started our organization with a
simple idea: give people the power and resources to bring their ideas to life. Over the years we have seen
how good ideas can change and reshape the world. As you click on the links below, I hope that you will see
why we are so passionate about what we do.
		</p>
		<p class="col-sm-12 h5 mb-4">More than a company that produces amazing apps, we see ourselves as visionaries, a collective group of
people that see far beyond what is and deep into the possibilities of what could be. It is through the
generosity of our app users that we are ao proudly able to give.
		</p>
		<p class="col-sm-12 h5 mb-4">We have developed a national community of like-minded people that want to ensure that resources are
available when needed. It is through your purchase that programs of excellence continue to be supported.
We are deeply humbled by your shared compassion. Thank you!
		</p>
		<p class="col-sm-12 h5 mb-4">We enjoy hearing from you. Is there a charity that you would like to see us support? Please contact us.
		</p>
		<p class="col-sm-12 h5 mb-4">Charities that we support:
		</p>

	</div>

	<hr>

	<footer>
		<div class="container py-5">
			<div class="row">
				<div class="col-sm-12 d-flex flex-row justify-content-center">
					<ul class="nav">
					  <li class="nav-item active ml-3 mr-0">
				        <a class="nav-link text-primary" href="#">ABOUT US<span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item ml-3 mr-0">
				        <a class="nav-link text-primary" href="#">FUNDRAISING</a>
				      </li>
				      <li class="nav-item ml-3 mr-0">
				        <a class="nav-link text-primary" href="#">E-FUNDRAISING</a>
				      </li>
				      <li class="nav-item ml-3 mr-0">
				        <a class="nav-link text-primary" href="#">FAQ’s</a>
				      </li>
				      <li class="nav-item ml-3 mr-0">
				        <a class="nav-link text-primary" href="#">CHARITIES</a>
				      </li>
				      <li class="nav-item ml-3 mr-0">
				        <a class="nav-link text-primary" href="#">CONTACT US</a>
				      </li>
					</ul>
				</div>
				<div class="col-sm-12">
					<div class="col-sm-6"></div>
					<div class="col-sm-6"></div>
				</div>
			</div>
		</div>	
	</footer>
<!--
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
-->
</body>
</html>