{% extends 'base.html' %}

{% block 'content' %}
	<div id="banner" class="container-fluid">
		<div class="container text-center">
			<div class="row">
				<h1 class="col-12 banner-title text-white pt-5 mt-5">We help schools and nonprofit organizations nationwide in developing successful fundraising campaigns.</h1>
				<a href="#" class="col-12 col-lg-8 btn btn-lg btn-primary btn-rounded-md font-weight-bold mx-auto py-3 mt-5 px-5 text-white"><h1 class="h2">LEARN ABOUT OUR E-FUNDRAISING</h1></a>
			</div>
		</div>
		
	</div>	

{% endblock %}