:root {
	--blue: rgb(0, 113, 188);
	--dark: rgb(82, 86, 89);
	--light-blue: rgb(178, 217, 244);
	--dark-blue: rgb(28, 43, 124);
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-size: 16px;
	background-color: white;
	overflow-x: hidden;
}

header {
	background-color: inherit;
}


/* Specific Styles */

#accordion .card-header > h5 > a,
#accordion .card-header > h5 > a:hover {
	text-decoration: none;
}

#accordion .card-header > h5 > a {
	color: var(--dark);
	padding-left: 2rem;
}

#accordion .card-header > h5 > a:before {
	content: '\f463';
	font-family: "Ionicons";
	font-size: 2rem;
	height: 30px;
	left: 1rem;
	top: .3rem;
	position: absolute;
	width: 30px;
	color: var(--dark-blue);
}

#accordion .card-header > h5 > a.collapsed:before{
	content: '\f48a';
}

#accordion .card-block {
    padding: .5rem 2em .5rem 3.3rem;
}

#accordion .card {
	margin-bottom: 1.3rem;
}

#banner {
	background: #222 url('../img/banner-bg.jpg') center center no-repeat;
	background-size: cover;
	height: 92.2vh;
}

#banner .btn {
	white-space: normal;
}

#president {
	background-color: var(--light-blue);
}

#questions .list-group,
#guidelines .list-group {
	list-style-type: none;
}

#questions .list-group li,
#guidelines .list-group li {
	position: relative;
	margin-bottom: 15px;
	padding-left: 2rem;
}

#questions .list-group li:before,
#guidelines .list-group li:before {
	background-color: var(--light-blue);
	border-radius: 18px;
	content: "";
	height: 30px;
	left: -0.5rem;
	top: .5rem;
	position: absolute;
	width: 30px;
	
}

#guidelines .list-group li:before {
	height: 20px;
	width: 20px;
	left: -0.1rem;
	top: .2rem;
}


/* New Utilities Styles */

.btn.btn-rounded-md {
	border-radius: 25px;
}

.bg-dark-blue {
	background-color: var(--dark-blue);
}

.bg-light-blue {
	background-color: var(--light-blue);
}

/* Bootstrap Overrides */

.nav-link:hover {
	border-bottom: 2px solid var(--blue);
	padding-bottom: 1px;
}

.text-dark {
	color: var(--dark) !important;	
}

.text-dark-blue {
	color: var(--dark-blue) !important;	
}

.text-primary {
	color: var(--blue) !important;
}

.btn-primary {
	background-color: var(--blue);
	border-color: var(--blue);
}
